.HomePage {
    margin-top: 27vw;
    background-color: #dedede;
}

.HomePageInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #dedede;
}