.ProfileAccount {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #dedede;
}

.Avatar, .Menu {
    width: 50%;
    min-width: 255px;
    min-height: 255px;
}

.AvatarInner, .MenuInner {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
}

.AvatarInner > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MenuInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuInner > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.MenuInner > p > span {
    cursor: pointer;
    font-weight: 500;
}

.MenuInner > p > span:hover {
    border-bottom: 1px solid #000;
    font-weight: 700;
}