.Navbar {
    width: 100%;
}

.Tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noticia Text', serif;
}

.Tabs a {
    text-decoration: none;
    color: black;
}

.Tabs a:hover {
    text-decoration: underline;
}

.Burger {
    display: none;
}

.Layout {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 280px;
    background-color: gray;
    opacity: .8;
    z-index: 1110;
}

i {
    cursor: pointer;
}

@media (max-width: 500px) {
    .Tabs {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        z-index: 1111;
    }
    .Burger {
        display: inline-block;
        margin: 0 auto;
        z-index: 1111;
    }
    .Navbar {
        display: flex;
        justify-content: center;
    }
}